<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<style>
	.game {
    	background-color:#008866;
        border: 13px solid black;
        box-sizing: border-box;
    }
    .game:hover {
    	cursor: crosshair;
    }
    
    /*@keyframes flyIn {
    	0% {
          transform: translate3d(-100%,-100%,100px);
          
        }
        34% {
          transform: translate3d(-50%,-50%,100px);
        }
        37% {
          transform: translate3d(-10%,-10%x,100px);
        }
        100% {
          transform: translate3d(0px,0,0);
        }
    }*/
    
    @keyframes grow-b {
    	from { transform: /*scale(3.1)*/ rotateY(180deg); }
    }
    @keyframes grow-w {
    	from { transform: /*scale(3.1)*/ rotateX(180deg); }
    }
    
    .chip-b {
    	animation: grow-b 0.5s;
        transform: rotateY(0deg);
        transform-origin: center;
    }
    .chip-w {
    	animation: grow-w 0.5s;
        transform: rotateX(0deg);
        transform-origin:center;
    }
</style>

<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDWzgXMKve8hONHqxkp4DRAIiCpvcIH5-U",
    authDomain: "game-center-9b383.firebaseapp.com",
    databaseURL: "https://game-center-9b383.firebaseio.com",
    projectId: "game-center-9b383",
    storageBucket: "",
    messagingSenderId: "608081464193"
  };
  firebase.initializeApp(config);
</script>

<div ng-app="myApp" ng-controller="myCtrl">

    <div ng-show="!loggedIn">
    LOG IN
      <button ng-click="toggleSignIn()">Log In</button>
    
    </div>
    <div ng-show="loggedIn">
	<p>{{turn}}'s turn -- black: {{bScore}} -- white: {{wScore}}</p>
    
    <svg width='100%' height='100%' viewBox="0 0 100 100" preserveAspectRatio="none" class="game" cng-game>
        
        <line ng-repeat="line in lines" x1="0" ng-attr-y1="{{100*line/(lines.length+1)}}%" x2="100%" ng-attr-y2="{{100*line/(lines.length+1)}}%" style="stroke:rgb(0,0,0);stroke-width:2"  vector-effect="non-scaling-stroke"/>
        <line ng-repeat="line in lines" ng-attr-x1="{{100*line/(lines.length+1)}}%" y1="0" ng-attr-x2="{{100*line/(lines.length+1)}}%" y2="100%" style="stroke:rgb(0,0,0);stroke-width:2"  vector-effect="non-scaling-stroke"/>
        
        <defs>
        <radialGradient id="wGrad">
          <stop offset="60%" stop-color="#f5f5f5"/>
          <stop offset="95%" stop-color="#ddd"/>
        </radialGradient>

        <radialGradient id="bGrad">
          <stop offset="60%" stop-color="#2a2a2a"/>
          <stop offset="95%" stop-color="#111111"/>
        </radialGradient>
      </defs>
      
      <circle ng-repeat="c in chips" ng-attr-cx="{{c.x}}%" ng-attr-cy="{{c.y}}%" ng-attr-r="{{radius}}%" fill="url(#{{c.color}}Grad)" class='chip-{{c.color}}' />
    </svg>
    </div>



</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.loggedIn = false;
  
  
  
    $scope.toggleSignIn = function () {
        if (!firebase.auth().currentUser) {
          // [START createprovider]
          var provider = new firebase.auth.GithubAuthProvider();
          // [END createprovider]
          // [START addscopes]
          provider.addScope('repo');
          // [END addscopes]
          // [START signin]
          firebase.auth().signInWithRedirect(provider);
          // [END signin]
        } else {
          // [START signout]
          firebase.auth().signOut();
          // [END signout]
        }
        // [START_EXCLUDE]
        //document.getElementById('quickstart-sign-in').disabled = true;
        // [END_EXCLUDE]
      }
    
    $scope.initFirebase = function() {
      // Result from Redirect auth flow.
      // [START getidptoken]
      firebase.auth().getRedirectResult().then(function(result) {
        if (result.credential) {
          // This gives you a GitHub Access Token. You can use it to access the GitHub API.
          var token = result.credential.accessToken;
          // [START_EXCLUDE]
          //document.getElementById('quickstart-oauthtoken').textContent = token;
        } else {
          //document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // The signed-in user info.
        var user = result.user;
      }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // The email of the user's account used.
        var email = error.email;
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential;
        // [START_EXCLUDE]
        if (errorCode === 'auth/account-exists-with-different-credential') {
          alert('You have already signed up with a different auth provider for that email.');
          // If you are using multiple auth providers on your app you should handle linking
          // the user's accounts here.
        } else {
          console.error(error);
        }
        // [END_EXCLUDE]
      });
      // [END getidptoken]
      // Listening for auth state changes.
      // [START authstatelistener]
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          
          $scope.loggedIn = true;
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;
          // [START_EXCLUDE]
//          document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
//          document.getElementById('quickstart-sign-in').textContent = 'Sign out';
//          document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
          // [END_EXCLUDE]
        } else {
          
          $scope.loggedIn = false;
          // User is signed out.
          // [START_EXCLUDE]
//          document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
//          document.getElementById('quickstart-sign-in').textContent = 'Sign in with GitHub';
//          document.getElementById('quickstart-account-details').textContent = 'null';
//          document.getElementById('quickstart-oauthtoken').textContent = 'null';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE]
//        document.getElementById('quickstart-sign-in').disabled = false;
        // [END_EXCLUDE]
      });
      // [END authstatelistener]
//      document.getElementById('quickstart-sign-in').addEventListener('click', toggleSignIn, false);
    }
    
    $scope.initFirebase();
      
	$scope.turn = 'b';
    $scope.bScore = 0;
    $scope.wScore = 0;
    $scope.lines = [1,2,3,4,5,6,7];
    $scope.radius = 85.0 / 8 / 2;
    $scope.chips = [
    	{
        	col:3,
            color:"w",
            row:3,
            x:43.75000000000001,
            y:43.75000000000001
        },
        {
        	col:4,
            color:"w",
            row:4,
            x:56.300000000000004,
            y:56.300000000000004
        },
        {
        	col:3,
            color:"b",
            row:4,
            x:43.75000000000001,
            y:56.300000000000004
        },
        {
        	col:4,
            color:"b",
            row:3,
            x:56.300000000000004,
            y:43.75000000000001
        },
    	
    ];
});

app.directive('cngGame', function() {
	return {
      restrict: "A",
      link: function(scope, element){
        var svg = element[0];
        var pt = svg.createSVGPoint();
        const LENGTH = 8;
        var currentColor = 'b';
        
        function generateBoard() {
        	let arr = [];
            for(let i=0; i<LENGTH; i++) {
            	let temp = [];
                for(let j=0; j<LENGTH; j++) {
                	temp.push({row:i,col:j,isEmpty:true,color:'none'});
                }
                arr.push(temp);
            }
            
            arr[3][3].isEmpty = false;
            arr[3][3].color = 'w';
            arr[3][3].index = 0;
            
            arr[4][4].isEmpty = false;
            arr[4][4].color = 'w';
            arr[4][4].index = 1;
            
            arr[3][4].isEmpty = false;
            arr[3][4].color = 'b';
            arr[3][4].index = 3;
            
            arr[4][3].isEmpty = false;
            arr[4][3].color = 'b';
            arr[4][3].index = 2;
            
            return arr;
        }
        
        var board = generateBoard();
        
        function checkChips(pos,dir,valid) {
        	let xDir = dir[0];
            let yDir = dir[1];
            
            let newPos = [];
            newPos.push(pos[0]);
            newPos.push(pos[1]);
            
            newPos[0] += xDir;
            newPos[1] += yDir;
            
            //console.log(pos,dir,valid,newPos);
            
            if(newPos[0] < 0 || newPos[0] >= LENGTH || newPos[1] < 0 || newPos[1] >= LENGTH) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].isEmpty) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].color == currentColor && !valid) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].color == currentColor && valid) {
            	return true;
            }
            else if(checkChips(newPos,dir,true)) {
                return true;
            }
        }
        
        function isValidLocation(pos) {
        	if (checkChips(pos,[-1,-1],false) ||
            	checkChips(pos,[-1,1],false)  ||
            	checkChips(pos,[1,1],false)   ||
            	checkChips(pos,[1,-1],false)  ||
            	checkChips(pos,[0,1],false)   ||
            	checkChips(pos,[0,-1],false)  ||
            	checkChips(pos,[1,0],false)   ||
            	checkChips(pos,[-1,0],false)) {
                	return true;
                }
        }
        
        function getValidSpots() {
        	let validLocations = [];
        	for (let i=0; i < LENGTH; i++) {
            	for (let j=0; j < LENGTH; j++) {
                	if (board[i][j].isEmpty) {
                    	if (isValidLocation([i,j])) {
                        	validLocations.push([i,j]);
                        }
                    }
                }
            }
            return validLocations;
        }
        
        var validLocations = getValidSpots();
        
        function isValidSpot(coords, validLocations) {
        	for (let i=0; i < validLocations.length; i++) {
              if (validLocations[i][0] == coords[0] && validLocations[i][1] == coords[1]) {
                  return true;
              }
            }
            return false;
        }
        
        function getCoords(cursorpt) {
            let row = Math.floor((cursorpt.y / 100) * LENGTH);
            let col = Math.floor((cursorpt.x / 100) * LENGTH);
            return [row,col];
        }
        
        function coordToPercent(coord) {
        	return 6.1 + coord * 12.55;
        }
        
        function placeChip(coords, color) {
        	let chip = {};
            chip.row = coords[0];
            chip.col = coords[1];
            chip.x = coordToPercent(coords[1]);
            chip.y = coordToPercent(coords[0]);
            chip.color = color;
            //chip.index = scope.chips.length;
            return chip;
        }
        
        function flipChips(pos,dir,valid) {
        	let xDir = dir[0];
            let yDir = dir[1];
            
            let newPos = [];
            newPos.push(pos[0]);
            newPos.push(pos[1]);
            
            newPos[0] += xDir;
            newPos[1] += yDir;
            
            console.log(pos,dir,valid,newPos);
            
            if(newPos[0] < 0 || newPos[0] >= LENGTH || newPos[1] < 0 || newPos[1] >= LENGTH) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].isEmpty) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].color == currentColor && !valid) {
            	return false;
            }
            else if (board[newPos[0]][newPos[1]].color == currentColor && valid) {
            	return true;
            }
            else if (flipChips(newPos,dir,true)) {
            	let color = scope.chips[board[newPos[0]][newPos[1]].index].color;
            	board[newPos[0]][newPos[1]].color = (color == 'w') ? 'b' : 'w';
            	scope.chips[board[newPos[0]][newPos[1]].index].color = (color == 'w') ? 'b' : 'w';
                return true;
            }
        }
        
        function updateBoard(pos) {
        	flipChips(pos,[-1,-1],false); //ul
            flipChips(pos,[-1,1],false); //ur
            flipChips(pos,[1,1],false); //dr
            flipChips(pos,[1,-1],false); //dl
            
            flipChips(pos,[0,1],false); //r
            flipChips(pos,[0,-1],false); //l
            flipChips(pos,[1,0],false); //d
            flipChips(pos,[-1,0],false); //u
            
        }
        
        function updateScore() {
        	let b=0;
            let w=0;
            for (let i=0; i < scope.chips.length; i++) {
            	if (scope.chips[i].color == 'b') { b++; }
                else { w++; }
            }
            scope.bScore = b;
            scope.wScore = w;
        }
        
      	element.bind('click', function(evt){
        	pt.x = evt.clientX;
            pt.y = evt.clientY;

            // The cursor point, translated into svg coordinates
            let cursorpt =  pt.matrixTransform(svg.getScreenCTM().inverse());
            console.log("(" + cursorpt.x + ", " + cursorpt.y + ")");
            let coords = getCoords(cursorpt);
            console.log(coords, scope.chips);
            
            if (validLocations.length == 0) {
            	currentColor = (currentColor == 'w') ? 'b':'w';
                scope.turn = currentColor;
            	scope.$apply();
                return;
            }
            
            console.log('validLocations: ', validLocations);
            if(isValidSpot(coords, validLocations)) {
            	board[coords[0]][coords[1]].isEmpty = false;
                board[coords[0]][coords[1]].color = currentColor;
                board[coords[0]][coords[1]].index = scope.chips.length;
 	        	scope.chips.push(placeChip(coords,currentColor));
                updateBoard(coords);
            	updateScore();
                currentColor = (currentColor == 'w') ? 'b':'w';
                
                validLocations = getValidSpots();
                scope.turn = currentColor;
                //console.log(element);
            	scope.$apply();
            }
        });
      }
    };
});
</script>

</body>
</html>
